@model IEnumerable<ADMINContext.PROCDS6SPBANCHAYResult>

<h5>Các sản phẩm bán chạy</h5>
<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
@foreach (var item in Model)
{
    <tr>

        <td><img src="@System.Configuration.ConfigurationManager.AppSettings["UrlImgeConfig"]@item.ANHSANPHAM" class="w3-left w3-circle w3-margin-right" style="width:50px" alt="@item.TENSANPHAM">
        @Html.DisplayFor(modelItem => item.TENSANPHAM)</td>
        <td>@Html.DisplayFor(modelItem => item.SOLUONG)</td>
        <td>@Html.DisplayFor(modelItem => item.THANHTIEN)</td>
    </tr>

}

</table><br>
<button class="w3-button w3-dark-grey">More Countries  <i class="fa fa-arrow-right"></i></button>